<!DOCTYPE html>
<html>
  <head>
    <title><%= Unit 2 Assessment %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  
  <body>
    <h1> To Do List </h1>

    <form name="To Do List" method="POST" ACTION="#" onsubmit="return validateFormOnSubmit (this);" value="submit"></form>
    

    <div class="col-auto">
    <button type="submit" class="btn btn-primary mb-2 addBtn">ADD TO DO</button>
    </div>

    <ul id="myUL" class="nav flex-column nav-tabs">
        <li class="nav-link">New To Do List</li>
    </ul>
</div>
</body>
</html>

    <br>
    <h3> There are no To-Dos yet!</h3>
    <h1><%= title %></h1>
    <p><%= title %></p>
 
  </body>
</html>

